/* Home.css */
.home {
    position: relative;
}

.welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.welcome-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.welcome-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info div {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info div i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.info div p {
    font-size: 1rem;
}
