.home {
    position: relative;
    display: flex;
    flex-direction: column;
}

.welcome-container {
    text-align: center;
    padding: 80px 0;
    background-color: #f9f9f9;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.subtitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #666;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item {
    margin: 0 2rem;
    color: #555;
    font-size: 1rem;
}

.info-item i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.info-item p {
    margin: 0;
}

.features {
    text-align: center;
    margin: 50px auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.feature {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #4CAF50;
}

.feature h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
}

.feature p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

.testimonial {
    text-align: center;
    margin: 50px auto;
}

.testimonial h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.quote {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.quote p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.quote p:last-child {
    font-style: italic;
}

.celebrity-visits {
    text-align: center;
    margin: 50px auto;
}

.celebrity-visits h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.visit {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.celebrity-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.visit p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #555;
}

.visit p:last-child {
    font-style: italic;
    color: #888;
}

.footer {
    display: flex;
    flex-direction: row;
}
