/* Signup.css */

.sign {
    background-color: #f8f9fa;
    /* Light grey background */
    color: #333;
    /* Dark text color */
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

.sign-but {
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-but:hover {
    background-color: #0056b3;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
