.box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 800px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box img {
    height: 50%;
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.box button {
    background-color: rgb(173, 170, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.box button:hover {
    background-color: rgb(150, 147, 255);
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    border-radius: 5px;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.amenities li {
    list-style-type: none;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.Addcard {
    display: flex;
    gap: 10px;
}


.box .availability {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.box .availability .available {
    color: green;
    display: flex;
    align-items: center;
}

.box .availability .not-available {
    color: red;
    display: flex;
    align-items: center;
}

.box .availability span {
    margin-left: 5px;
}
