.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}


.box-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
