.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    gap: 20px;
}

.contact-form {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-bottom: 50px;
}

.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.contact-info {
    margin-top: 2rem;
    text-align: center;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #555;
    font-size: 1rem;
}

.contact-item i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #007bff;
}

.contact-item p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    font-style: italic;
}

.about-us {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 50px;
}

.about-us h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.about-us p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}
