.slideshow {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow img {
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    margin-left: 350px;
    border-radius: 10px;
}
