* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin-top: 60px;
}

.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

ul.layout {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

ul.layout li {
    margin: 0 20px;
    position: relative;
}

ul.layout li a,
.link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
}

ul.layout li a:hover,
.link:hover {
    color: #ff9800;
    background-color: #495057;
}

ul.layout li a svg,
.link svg {
    margin-right: 8px;
    font-size: 20px;
}

ul.layout li:last-child {
    margin-left: auto;
}

ul.layout li a:hover svg,
.link:hover svg {
    color: #ff9800;
}

.toggle-language {
    margin-left: auto;
}

button.link {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343a40;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px 0;
    list-style: none;
    z-index: 1000;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    background-color: #343a40;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
}

.dropdown-menu li a:hover {
    background-color: #495057;
    color: #ff9800;
}
